Javascript/JS-BackEnd/Wildlife/node_modules/
Csharp/Web/Exams/SMS_Exam/SMS/obj/project.assets.json
Csharp/Web/Exams/SMS_Exam/SMS/obj/
Csharp/Web/Exams/SMS_Exam/SMS/bin/
CPP/Advanced/Exam/.vs/
CPP/Advanced/Exam/Maps/x64/
CPP/Advanced/Exam/Matrix/x64/
CPP/Advanced/Exam/test/x64/
CPP/Advanced/Exam/x64/
CPP/Advanced/Homeworks/MapAndSets/.vs/
CPP/Advanced/Homeworks/MapAndSets/CountRealNumbers/x64/
CPP/Advanced/Homeworks/MapAndSets/LargestThree/x64/
CPP/Advanced/Homeworks/MapAndSets/Miners/x64/
CPP/Advanced/Homeworks/MapAndSets/OddOccurrences/x64/
CPP/Advanced/Homeworks/MapAndSets/ShortWords/x64/
CPP/Advanced/Homeworks/MapAndSets/SortNumbers/x64/
CPP/Advanced/Homeworks/MapAndSets/Squares/x64/
CPP/Advanced/Homeworks/MapAndSets/x64/
CPP/Advanced/Homeworks/MemoryManagement_PointersAndReferences/.vs/
CPP/Advanced/Homeworks/MemoryManagement_PointersAndReferences/GaussTrick/x64/
CPP/Advanced/Homeworks/MemoryManagement_PointersAndReferences/PrintInParts/x64/
CPP/Advanced/Homeworks/MemoryManagement_PointersAndReferences/RemoveNegativesAndReverse/x64/
CPP/Advanced/Homeworks/MemoryManagement_PointersAndReferences/SomeOrdering/x64/
CPP/Advanced/Homeworks/MemoryManagement_PointersAndReferences/x64/
CPP/Advanced/Homeworks/MultidimensionalArrays/.vs/
CPP/Advanced/Homeworks/MultidimensionalArrays/2X2SquareInMatrix/x64/
CPP/Advanced/Homeworks/MultidimensionalArrays/CompareMatrices/x64/
CPP/Advanced/Homeworks/MultidimensionalArrays/FillTheMatrix/x64/
CPP/Advanced/Homeworks/MultidimensionalArrays/MaximumSum/x64/
CPP/Advanced/Homeworks/MultidimensionalArrays/PositionOf/x64/
CPP/Advanced/Homeworks/MultidimensionalArrays/SnakeMoves/x64/
CPP/Advanced/Homeworks/MultidimensionalArrays/x64/
CPP/Advanced/Homeworks/StackAndQueues/.vs/
CPP/Advanced/Homeworks/StackAndQueues/BalancedParentheses/x64/
CPP/Advanced/Homeworks/StackAndQueues/BasicQueueOperations/x64/
CPP/Advanced/Homeworks/StackAndQueues/BasicStackOperations/x64/
CPP/Advanced/Homeworks/StackAndQueues/FashionBoutique/x64/
CPP/Advanced/Homeworks/StackAndQueues/FastFood/x64/
CPP/Advanced/Homeworks/StackAndQueues/MaximumAndMinimumElement/x64/
CPP/Advanced/Homeworks/StackAndQueues/TruckTour/x64/
CPP/Advanced/Homeworks/StackAndQueues/x64/
CPP/Basics/Exam/.vs/
CPP/Basics/Exam/Task1/x64/
CPP/Basics/Exam/Task3/x64/
CPP/Basics/Exam/Task4/x64/
CPP/Basics/Exam/Task5/x64/
CPP/Basics/Exam/Task6/x64/
CPP/Basics/Exam/x64/
CPP/Basics/Homeworks/ConditionalStatements/.vs/
CPP/Basics/Homeworks/ConditionalStatements/BonusScore/x64/
CPP/Basics/Homeworks/ConditionalStatements/GodzillaVsKong/x64/
CPP/Basics/Homeworks/ConditionalStatements/LunchBreak/x64/
CPP/Basics/Homeworks/ConditionalStatements/Shopping/x64/
CPP/Basics/Homeworks/ConditionalStatements/SumSeconds/x64/
CPP/Basics/Homeworks/ConditionalStatements/TimePlus15Minutes/x64/
CPP/Basics/Homeworks/ConditionalStatements/ToyShop/x64/
CPP/Basics/Homeworks/ConditionalStatements/WorldSwimmingRecord/x64/
CPP/Basics/Homeworks/ConditionalStatements/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/.vs/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/Cinema/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/FishingBoat/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/HotelRoom/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/Journey/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/NewHouse/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/OnTimeForTheExam/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/OperationsBetweenNumbers/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/SkiTrip/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/SummerOutfit/x64/
CPP/Basics/Homeworks/ConditionalStatementsAdvanced/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/.vs/
CPP/Basics/Homeworks/FirstStepsInProgramming/BasketballEquipment/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/DepositeCalculator/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/FishTank/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/FoodDelivery/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/RadiantsToDegrees/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/Repainting/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/RequiredLiterature/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/SecondsSum/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/SuppliesForSchool/x64/
CPP/Basics/Homeworks/FirstStepsInProgramming/x64/
CPP/Basics/Homeworks/ForLoop/.vs/
CPP/Basics/Homeworks/ForLoop/CleverLily/x64/
CPP/Basics/Homeworks/ForLoop/HalfSumElement/x64/
CPP/Basics/Homeworks/ForLoop/Histogram/x64/
CPP/Basics/Homeworks/ForLoop/NumbersEndingInSeven/x64/
CPP/Basics/Homeworks/ForLoop/Oscars/x64/
CPP/Basics/Homeworks/ForLoop/TennisRanklist/x64/
CPP/Basics/Homeworks/ForLoop/TrekkingMania/x64/
CPP/Basics/Homeworks/ForLoop/x64/
CPP/Basics/Homeworks/NestedLoops/.vs/
CPP/Basics/Homeworks/NestedLoops/CinemaTickets/x64/
CPP/Basics/Homeworks/NestedLoops/EqualSumsEvenOddPosition/x64/
CPP/Basics/Homeworks/NestedLoops/NumberPyramid/x64/
CPP/Basics/Homeworks/NestedLoops/SpecialNumbers/x64/
CPP/Basics/Homeworks/NestedLoops/TrainTheTrainers/x64/
CPP/Basics/Homeworks/NestedLoops/x64/
CPP/Basics/Homeworks/WhileLoop/.vs/
CPP/Basics/Homeworks/WhileLoop/Walking/x64/
CPP/Fundamentals/Exam/.vs/
CPP/Basics/Homeworks/WhileLoop/x64/
CPP/Fundamentals/Exam/Task1/x64/
CPP/Fundamentals/Exam/Task2/x64/
CPP/Basics/Homeworks/WhileLoop/OldBooks/x64/
CPP/Basics/Homeworks/WhileLoop/ExamPreparation/x64/
CPP/Fundamentals/Exam/Task3/x64/
CPP/Fundamentals/Exam/Task3-second-variant/x64/
CPP/Fundamentals/Exam/x64/
CPP/Fundamentals/ExamPreparation/.vs/
CPP/Fundamentals/ExamPreparation/BelowAverageOnly/x64/
CPP/Fundamentals/ExamPreparation/MachineCommands/x64/
CPP/Fundamentals/ExamPreparation/SpecialItems/x64/
CPP/Fundamentals/ExamPreparation/x64/
CPP/Fundamentals/Homeworks/Arrays/.vs/
CPP/Fundamentals/Homeworks/Arrays/AboveAverage/x64/
CPP/Fundamentals/Homeworks/Arrays/ArrayRotation/x64/
CPP/Fundamentals/Homeworks/Arrays/CartesianProduct/x64/
CPP/Fundamentals/Homeworks/Arrays/ClosestNumbers/x64/
CPP/Fundamentals/Homeworks/Arrays/LongestSequence/x64/
CPP/Fundamentals/Homeworks/Arrays/MagicSum/x64/
CPP/Fundamentals/Homeworks/Arrays/MostFrequentNumber/x64/
CPP/Fundamentals/Homeworks/Arrays/TopIntegers/x64/
CPP/Fundamentals/Homeworks/Arrays/x64/
CPP/Fundamentals/Homeworks/Arrays/ZigZagArrays/x64/
CPP/Fundamentals/Homeworks/BasicSyntax/.vs/
CPP/Fundamentals/Homeworks/BasicSyntax/NumbersOnetoN/x64/
CPP/Fundamentals/Homeworks/BasicSyntax/OrderTwoNumbers/x64/
CPP/Fundamentals/Homeworks/Functions/.vs/
CPP/Fundamentals/Homeworks/Functions/CenterPoint/x64/
CPP/Fundamentals/Homeworks/Functions/FactorialDivision/x64/
CPP/Fundamentals/Homeworks/Functions/GreaterOfTwoValues/x64/
CPP/Fundamentals/Homeworks/Functions/MultiplyEvensSumByOdd/x64/
CPP/Fundamentals/Homeworks/Functions/Operations/x64/
CPP/Fundamentals/Homeworks/Functions/Orders/x64/
CPP/Fundamentals/Homeworks/Functions/PasswordValidator/x64/
CPP/Fundamentals/Homeworks/Functions/VowelsCount/x64/
CPP/Fundamentals/Homeworks/Functions/x64/
CPP/Fundamentals/Homeworks/StringsAndStreams/.vs/
CPP/Fundamentals/Homeworks/StringsAndStreams/CaesarCipher/x64/
CPP/Fundamentals/Homeworks/StringsAndStreams/CharacterMultiplier/x64/
CPP/Fundamentals/Homeworks/StringsAndStreams/MathematicalExpression/x64/
CPP/Fundamentals/Homeworks/StringsAndStreams/RepalceAll/x64/
CPP/Fundamentals/Homeworks/StringsAndStreams/ReplaceRepeatingChars/x64/
CPP/Fundamentals/Homeworks/StringsAndStreams/TitleCase/x64/
CPP/Fundamentals/Homeworks/StringsAndStreams/ValidUsernames/x64/
CPP/Fundamentals/Homeworks/StringsAndStreams/x64/
CPP/Fundamentals/Homeworks/VectorsListsAndIterators/.vs/
CPP/Fundamentals/Homeworks/VectorsListsAndIterators/Brackets/x64/
CPP/Fundamentals/Homeworks/VectorsListsAndIterators/Bus/x64/
CPP/Fundamentals/Homeworks/VectorsListsAndIterators/Merge Trains/x64/
CPP/Fundamentals/Homeworks/VectorsListsAndIterators/Pipes/x64/
CPP/Fundamentals/Homeworks/VectorsListsAndIterators/x64/
CPP/OOP/Exam/.vs/
CPP/OOP/Exam/Task1/x64/
CPP/OOP/Exam/Task2/x64/
CPP/OOP/Exam/Task3/x64/
CPP/OOP/Exam/x64/
CPP/OOP/ExamPreparation/.vs/
CPP/OOP/ExamPreparation/Vehicles/x64/
CPP/OOP/ExamPreparation/VirtualBook/x64/
CPP/OOP/ExamPreparation/x64/
CPP/OOP/ExamRetake/.vs/
CPP/OOP/ExamRetake/Task1/x64/
CPP/OOP/ExamRetake/Task2/x64/
CPP/OOP/ExamRetake/x64/
CPP/OOP/Homeworks/AbstractClasses/.vs/
CPP/OOP/Homeworks/AbstractClasses/Filters/x64/
CPP/OOP/Homeworks/AbstractClasses/IDs/x64/
CPP/OOP/Homeworks/Inheritance/.vs/
CPP/OOP/Homeworks/AbstractClasses/x64/
CPP/OOP/Homeworks/Inheritance/IndexedSet/x64/
CPP/OOP/Homeworks/Inheritance/MaxSumArray/x64/
CPP/OOP/Homeworks/Inheritance/MemoryAllocatorReforged/x64/
CPP/OOP/Homeworks/Inheritance/Ranges/x64/
*.zip
CPP/OOP/Homeworks/Inheritance/SerializeMain/x64/
CPP/OOP/Homeworks/Inheritance/ShapesMain/x64/
CPP/OOP/Homeworks/Inheritance/Snake/x64/
CPP/OOP/Homeworks/Inheritance/SortPointers/x64/
CPP/OOP/Homeworks/Inheritance/x64/
CPP/OOP/Homeworks/ObjectsAndClasses/.vs/
CPP/OOP/Homeworks/ObjectsAndClasses/Distance/x64/
CPP/OOP/Homeworks/ObjectsAndClasses/Sales/x64/
CPP/OOP/Homeworks/ObjectsAndClasses/SentenceShifter/x64/
CPP/OOP/Homeworks/ObjectsAndClasses/TotalAverageOfStudents/x64/
CPP/OOP/Homeworks/ObjectsAndClasses/x64/
CPP/OOP/Homeworks/ObjectsAndClassesAdvanced/.vs/
CPP/OOP/Homeworks/ObjectsAndClassesAdvanced/CarMain/x64/
CPP/OOP/Homeworks/ObjectsAndClassesAdvanced/Lectures/x64/
CPP/OOP/Homeworks/ObjectsAndClassesAdvanced/Operators/x64/
CPP/OOP/Homeworks/ObjectsAndClassesAdvanced/ResourceMain/x64/
CPP/OOP/Homeworks/ObjectsAndClassesAdvanced/SumOfVectors/x64/
CPP/OOP/Homeworks/ObjectsAndClassesAdvanced/x64/
CPP/OOP/Homeworks/OOP_Constructors/.vs/
CPP/OOP/Homeworks/OOP_Constructors/MainFind/x64/
CPP/OOP/Homeworks/OOP_Constructors/OrderMain/x64/
CPP/OOP/Homeworks/OOP_Constructors/ProfitsMain/x64/
CPP/OOP/Homeworks/OOP_Constructors/RegisterMain/x64/
CPP/OOP/Homeworks/OOP_Constructors/TryParseMain/x64/
CPP/OOP/Homeworks/OOP_Constructors/Words/x64/
CPP/OOP/Homeworks/OOP_Constructors/x64/
CPP/OOP/Homeworks/Polymorphism/.vs/
CPP/OOP/Homeworks/Polymorphism/Aggregators/x64/
CPP/OOP/Homeworks/Polymorphism/Duplicates/x64/
CPP/OOP/Homeworks/Polymorphism/TypedStream/x64/
CPP/OOP/Homeworks/Polymorphism/x64/
*.vsidx
CPP/OOP/Homeworks/RuleOfThreeFiveZero/.vs/
CPP/OOP/Homeworks/RuleOfThreeFiveZero/ArrayOfPointers/x64/
CPP/OOP/Homeworks/RuleOfThreeFiveZero/List/x64/
CPP/OOP/Homeworks/RuleOfThreeFiveZero/MinBy/x64/
CPP/OOP/Homeworks/RuleOfThreeFiveZero/OverloadingMadness/x64/
CPP/OOP/Homeworks/RuleOfThreeFiveZero/ParseUniqueCompanies/x64/
CPP/OOP/Homeworks/RuleOfThreeFiveZero/RegisterOfThree/x64/
CPP/OOP/Homeworks/RuleOfThreeFiveZero/RemoveInvalid/x64/
CPP/OOP/Homeworks/RuleOfThreeFiveZero/x64/
Csharp/Advanced/Exam/Parking/.vs/
Csharp/Advanced/Exam/Parking/Parking/obj/
Csharp/Basic/Ages/bin/
Csharp/Basic/Ages/.vs/
Csharp/Basic/Ages/obj/
Csharp/Basic/Devison/bin/
Csharp/Basic/Devison/obj/
Csharp/Basic/Login/bin/
Csharp/Basic/Login/obj/
Csharp/Basic/PadawanEquipment/obj/
Csharp/Basic/PrintAndSum/bin/
Csharp/Basic/PrintAndSum/obj/
Csharp/Basic/RageExpenses/bin/
Csharp/Basic/RageExpenses/obj/
Csharp/Basic/StrongNumber/obj/
Csharp/Basic/TriangleOfNumbers/bin/
Csharp/Basic/TriangleOfNumbers/obj/
Csharp/Basic/Vacation/bin/
Csharp/Basic/Vacation/obj/
Csharp/Basic/VendingMachine/bin/
Csharp/Basic/VendingMachine/obj/
Csharp/Databases/BookShop_3_Exam/.vs/
Csharp/Databases/BookShop_3_Exam/BookShop/bin/
Csharp/Databases/BookShop_3_Exam/BookShop/obj/
Csharp/Databases/DB_Exam_Preparation/SoftJail/SoftJail/bin/
Csharp/Databases/DB_Exam_Preparation/SoftJail/.vs/
Csharp/Web/Exams/SMS_Exam/MyWebServer/obj/
Csharp/Web/Exams/SMS_Exam/MyWebServer/bin/
Csharp/Web/Exams/SMS_Exam/.vs/
Csharp/Web/Exams/SharedTrip/SharedTrip/obj/
Csharp/Web/Exams/SharedTrip/SharedTrip/bin/
Csharp/Web/Exams/SharedTrip/MyWebServer/obj/
Csharp/Web/Exams/SharedTrip/MyWebServer/bin/
Csharp/Web/Exams/Git/SUS.MvcFramework/obj/
Csharp/Web/Exams/Git/SUS.MvcFramework.Tests/obj/
Csharp/Web/Exams/Git/SUS.HTTP/obj/
Csharp/Web/Exams/Git/Apps/Git/obj/
Csharp/Web/Exams/Git/.vs/
Csharp/Web/Exams/CarShop/SUS.MvcFramework/obj/
Csharp/Web/Exams/CarShop/SUS.MvcFramework/bin/
Csharp/Web/Exams/CarShop/SUS.HTTP/obj/
Csharp/Web/Exams/CarShop/Apps/CarShop/obj/
Csharp/Web/Exams/CarShop/Apps/CarShop/bin/
Csharp/Web/Exams/CarShop/Apps/CarShop/.vs/
Csharp/Web/Exams/CarShop/.vs/
Csharp/Web/Exams/BusStation/.vs/BusStation/
Csharp/Exams/Rabbit/obj/
Csharp/Exams/Rabbit/bin/
Csharp/Exams/Rabbit/.vs/
Csharp/Exams/Guild/Guild/obj/
Csharp/Exams/Guild/Guild/bin/
Csharp/Exams/Guild/.vs/
Csharp/Exams/Christmas/Christmas/obj/
Csharp/Exams/Christmas/.vs/
Csharp/Databases/VaporStore_2_Exam/VaporStore/bin/
Csharp/Databases/VaporStore_2_Exam/VaporStore/obj/
Csharp/Databases/VaporStore_2_Exam/.vs/
Csharp/Databases/TeisterMask_1_Exam/TeisterMask/obj/
Csharp/Databases/TeisterMask_1_Exam/TeisterMask/bin/
Csharp/Databases/TeisterMask_1_Exam/.vs/
Csharp/Databases/Homeworks/XML_ProductShop/ProductShop/obj/
Csharp/Databases/Homeworks/XML_ProductShop/ProductShop/bin/
Csharp/Databases/Homeworks/XML_ProductShop/.vs/
Csharp/Databases/Homeworks/XML_CarDealer/CarDealer/obj/
Csharp/Databases/Homeworks/XML_CarDealer/CarDealer/bin/
Csharp/Web/Exams/CarShop/SUS.HTTP/bin/
Csharp/Exams/Christmas/Christmas/bin/
Csharp/Databases/Homeworks/XML_CarDealer/.vs/
Csharp/Databases/Homeworks/JSON_ProductShop/ProductShop/obj/
Csharp/Databases/Homeworks/JSON_ProductShop/ProductShop/bin/
Csharp/Databases/Homeworks/JSON_ProductShop/.vs/
Csharp/Databases/Homeworks/JSON_CarDealer/CarDealer/obj/
Csharp/Databases/Homeworks/JSON_CarDealer/CarDealer/bin/
Csharp/Databases/Homeworks/JSON_CarDealer/.vs/
Csharp/Databases/Exam_EntityFramCore/Exam/TeisterMask/obj/
Csharp/Databases/Exam_EntityFramCore/Exam/TeisterMask/bin/
Csharp/Databases/Exam_EntityFramCore/Exam/.vs/
Csharp/Databases/Exam/Cinema/obj/
Csharp/Databases/Exam/Cinema/bin/
Csharp/Databases/Exam/.vs/
Csharp/Databases/DB_Exam_Preparation/VaportStore/VaporStore/obj/
Csharp/Databases/DB_Exam_Preparation/VaportStore/VaporStore/bin/
Csharp/Databases/DB_Exam_Preparation/VaportStore/.vs/
Csharp/Databases/DB_Exam_Preparation/SoftJail/SoftJail/obj/
CPP/Fundamentals/Homeworks/BasicSyntax/x64/
